.contact {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;

    &__section {
        width: 45%;

        & form {
            
            & input {
                background-color: #f7f7f7 !important;
                border: 1px solid rgba(172, 170, 170, 0.4);
                filter: none !important;
                margin-top: 1.5rem;
                padding: 1rem;
        
                &:focus {
                    border: 1px solid #3624696e;
                }
            }
        
            & label {
                background-color: #f4f4f4;
                color:rgb(68, 68, 68);
                display: inline-block;
                font-size: 0.8rem;
                font-weight: 800;
                padding: 0rem 1.1rem;
                transform: translate(20px, 33px);
                z-index: 9;
            }
        }

        &:last-of-type {
            background-color: #000;
            color: #fff;
        }
    }
}

#map {
    border-radius: 5px;
    box-shadow: 0 30px 66px -26px rgba(0, 0, 0, 0.5);
    height: 400px;
    width: 100%;
}