.contact {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 3rem;

    @include desktop {
        flex-direction: row;
    }

    &__section {
        display: flex;
        flex-direction: column;
        width: 100%;

        @include desktop {
            width: 45%;
        }

        & form {
            display: flex;
            flex-direction: column;

            & button {
                align-items: center;
                background-color: #868e96;
                border-radius: 5px;
                color: #fff;
                cursor: pointer;
                margin-top: 1rem;
                padding: 0.5rem 1.1rem;
                transition: all 0.3s ease-in-out;

                &:hover {
                    background-color: #362469;
                    transition: all 0.3s ease-in-out;
                }
            }

            & input {
                background-color: #f4f4f4ee;
                border: 1px solid rgba(172, 170, 170, 0.3);
                filter: none !important;
                margin: 0.5rem 0 0 0;
                padding: 0.6rem 0 0.6rem 1rem;
                width: 100%;
        
                &:focus {
                    border: 1px solid #3624696e;
                }

                &:first-of-type {
                    margin-top: 0;
                }
            }
        
            & label {
                background-color: #f4f4f4ee;
                color:rgb(68, 68, 68);
                display: inline-block;
                font-size: 0.8rem;
                font-weight: 800;
                padding: 0rem 1.1rem;
                transform: translate(20px, 16px);
                z-index: 9;
            }

            & textarea {
                background-color: #f4f4f4ee;
                border: 1px solid rgba(172, 170, 170, 0.3);
                padding: 0.6rem 0 0.6rem 1rem;
                width: 100%;
            }
        }

        &:last-of-type {
            background-color: #f4f4f4ee;
            border-radius: 5px;
            box-shadow: 0 0 20px rgba(247, 247, 247, 0.7);
            //color: #fff;
            display: block;
            padding: 1rem 1.5rem;
        }

        &__error {
            color: #921616;
            font-size: 1rem;
        }

        &__group {
            color: #000;
            
            &:last-of-type {
                font-size: 1.5rem;
            }

            &__human {
                max-width: 50px;
                margin: 1rem 0.5rem 0 0 !important;
                padding: 0.5rem 1rem !important;
            }
        }

        &__image {
            height: 400px;
            margin: 2rem 0 3rem 0;
            object-fit: cover;
            width: 100%;

            @include desktop {
                margin-bottom: 0;
            }
        }
    }
}

#map {
    border-radius: 5px;
    box-shadow: 0 30px 66px -26px rgba(0, 0, 0, 0.5);
    height: 400px;
    width: 100%;
}

.quiz-158 {

    & label {
        background-color: transparent;
        margin-bottom: 1rem !important;
    }

    & span {
        font-size: 1.5rem;
        margin-right: 1rem;
    }
}

.wpcf7-validation-errors {
    border: 2px solid #f00 !important;
    color: #f00 !important;
}

#submit-button {
    margin-bottom: 0 !important;
    padding-right: 1rem !important;
}

.wpcf7-not-valid-tip {
    font-size: 1rem !important;
}