.hero {
    height: 400px;
    background-size: 700px 500px;
    background-color: #72964c;//477516
    background-position: top center;
    background-attachment: fixed;
    background-blend-mode: soft-light;
    background-repeat: no-repeat;
    width: 100%;

    @include tablet {
        background-position: left;
        background-size: cover;
        height: 500px;
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
        padding: 0 2rem 7rem 0;
        width: 100%;
        height: 100%;
        text-shadow: 2px 2px 2px rgba(7, 85, 13, 0.2);

        & h1 {
            color: #fff;
            font-size: 3rem;
            font-weight: bold;
            line-height: 0.5;

            @include tablet {
                font-size: 4rem;
            }
        }

        & h2 {
            color: #fff;
            font-size: 2rem;
            line-height: 0.5;

            @include tablet {
                font-size: 3rem;
            }
        }
    }
}
