.hero {
    height: 400px;
    background-color: #72964c;
    width: 100%;

    @include tablet {
        height: 600px;
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
        padding: 0 2rem 7rem 0;
        width: 100%;
        height: 100%;
        text-shadow: 2px 2px 2px rgba(7, 85, 13, 0.2);
        transform: translateY(-700px);

        @include tablet {
            transform: translateY(-600px);
        }

        & h1 {
            color: #fff;
            font-size: 3rem;
            font-weight: bold;
            line-height: 0.5;

            @include tablet {
                font-size: 4rem;
            }
        }

        & h2 {
            color: #fff;
            font-size: 2rem;
            line-height: 0.5;

            @include tablet {
                font-size: 3rem;
            }
        }
    }

    &__dirt {
        object-fit: cover;

        &__container {
            height: 400px;
            transform: translateY(-160px);
            width: 100%;

            @include desktop-wide {
                height: 500px;
                transform: translateY(-180px);
            }
        }
    }

    &__image {
        mix-blend-mode: soft-light;
        height: 600px;
        object-fit: cover;
        width: 100%;
    }
}
