.sidebar {
    margin: 0 2rem 0 0;
    max-width: 400px;
    min-width: 300px;
    width: 100%;
}

.content {
    flex-grow: 2;
    padding-left: 1rem;
    margin: 0;
    transform: translateY(7px);

    & p {
        font-size: 0.7rem;
        line-height: 1.6;
    }

    &__container {
        display: flex;
        justify-content: space-around;
        margin-bottom: 1rem;
    }

    &__image {
        background-color: #000;
        height: 70px;
        min-width: 100px;
    }

    &__title {
        line-height: 0.5;
    }
}