// ===========================================
// Global
// ===========================================


* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    background-color: #e6e6e6;
    color: $text-color;
    // font-family: "Open Sans", Helvetica, Arial, Lucida, sans-serif;
    font-family: "Poppins", Helvetica, Arial, Lucida, sans-serif;
    font-weight: 400;
    line-height: 2.2;
    overflow-x: hidden;
    -moz-osx-font-smoothing: grayscale;
}

p {
    margin: 1rem 0;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 1.414rem 0 0.5rem;
  font-weight: inherit;
  letter-spacing: -0.05rem;
  line-height: 1.2;
  text-transform: uppercase;
  font-family: "Montserrat", Helvetica, Arial, Lucida, sans-serif;
  color: #444;
}

h1 {
  font-size: 2.441rem;
}

h2 {
    font-size: 1.953rem;
}

h3 {
    font-size: 1.563rem;
}

h4 {
    font-size: 1.25rem;
}

small {
    font-size: 0.8rem;
}

a:focus {
    outline: $focus-light;
}

.text {
    &--center {
        text-align: center;
    }

    &--left {
        text-align: left;
    }

    &--muted {
        color: $text-muted;
    }
}

/* The little scroll to top button on every page */
.scroll-to-top {
    position: fixed;
    z-index: 99999;
    right: 0;
    bottom: 100px;
    padding: 0.5rem 1rem;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.4);
    font-size: 2rem;
    text-align: center;
    cursor: pointer;
    line-height: 1;
    opacity: 1;
    transition: all 0.3s ease-in-out;

    &:hover {
        color: $primary-color-light;
        font-size: 2.3rem;
        transition: all 0.3s ease-in-out;
    }

    &--hide {
        opacity: 0;
        right: -30px;
        transition: all 0.3s ease-in-out;
    }
}
